SecureEJB/src/java/META-INF/wsit-ejb.SecureBookBean.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SecureBookBeanService" targetNamespace="http://ejb/" xmlns:tns="http://ejb/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="addBook"/>
    <message name="addBookResponse"/>
    <message name="updateBook"/>
    <message name="updateBookResponse"/>
    <message name="removeBook"/>
    <message name="removeBookResponse"/>
    <message name="getAllBooks"/>
    <message name="getAllBooksResponse"/>
    <portType name="SecureBookBean">
        <operation name="addBook">
            <input message="tns:addBook"/>
            <output message="tns:addBookResponse"/>
        </operation>
        <operation name="updateBook">
            <input message="tns:updateBook"/>
            <output message="tns:updateBookResponse"/>
        </operation>
        <operation name="removeBook">
            <input message="tns:removeBook"/>
            <output message="tns:removeBookResponse"/>
        </operation>
        <operation name="getAllBooks">
            <input message="tns:getAllBooks"/>
            <output message="tns:getAllBooksResponse"/>
        </operation>
    </portType>
    <binding name="SecureBookBeanPortBinding" type="tns:SecureBookBean">
        <wsp:PolicyReference URI="#SecureBookBeanPortBindingPolicy"/>
        <operation name="addBook">
            <input>
                <wsp:PolicyReference URI="#SecureBookBeanPortBinding_addBook_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#SecureBookBeanPortBinding_addBook_Output_Policy"/>
            </output>
        </operation>
        <operation name="updateBook">
            <input>
                <wsp:PolicyReference URI="#SecureBookBeanPortBinding_addBook_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#SecureBookBeanPortBinding_addBook_Output_Policy"/>
            </output>
        </operation>
        <operation name="removeBook">
            <input>
                <wsp:PolicyReference URI="#SecureBookBeanPortBinding_addBook_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#SecureBookBeanPortBinding_addBook_Output_Policy"/>
            </output>
        </operation>
        <operation name="getAllBooks">
            <input>
                <wsp:PolicyReference URI="#SecureBookBeanPortBinding_addBook_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#SecureBookBeanPortBinding_addBook_Output_Policy"/>
            </output>
        </operation>
    </binding>
    <service name="SecureBookBeanService">
        <port name="SecureBookBeanPort" binding="tns:SecureBookBeanPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="SecureBookBeanPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing/>
                <sc:KeyStore wspp:visibility="private" location="/usr/local/payara5/glassfish/domains/domain1/config/keystore.jks" type="JKS" storepass="changeit" alias="s1as" keypass="changeit"/>
                <sp:SymmetricBinding>
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                        <sp:RequireIssuerSerialReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:SignedEncryptedSupportingTokens>
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SignedEncryptedSupportingTokens>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="SecureBookBeanPortBinding_addBook_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="SecureBookBeanPortBinding_addBook_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
